<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p><%= restaurant.address %></p>
  <p><%= "â­ï¸" * restaurant.stars %></p>
  <%= link_to "Destroy #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
